body {
  -webkit-animation: name 2s infinite;
  font-family: Arial, Helvetica, sans-serif;
}
audio {
  display: none;
}
@-webkit-keyframes name {
  0% {
    background-color: black;
  }
  20% {
    background-color: green;
  }
  40% {
    background-color: red;
  }
  60% {
    background-color: yellow;
  }
  80% {
    background-color: blue;
  }
  100% {
    background-color: purple;
  }
}

.human-img {
  border-radius: 60px;
  width: 140px;
  height: 140px;
  display: inline-block;
  transition: all 1.3s ease-in-out;
}
.human-img:hover {
  transform: rotate(900deg) scale(3);
}

.human-name {
  display: inline-block;
}

.work-title {
  display: block;
}

.group {
  display: inline-block;
  align-items: center;
  vertical-align: top;
}

.section-one,
.section-two,
.section-four {
  display: flex;
  justify-content: space-evenly;
}
.section-three {
  display: flex;
  justify-content: space-around;
}
.title1,
.title2,
.title3,
.title4,
.title5 {
  color: yellow;
}

.title4 {
  margin-right: 18%;
}

.parag1,
.parag2,
.parag3,
.parag5 {
  width: 70%;
}

.parag4 {
  width: 3%;
}

hr {
  height: 3px;
  background-color: white;
}
